@use "@/styles/settings/colors.scss";
@use "@/styles/settings/variables.scss";

body {
    font-family: variables.$font-family;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: variables.$font-family;
    line-height: 1.5;
}

h1 {
    font-size: variables.$fs-28;
}