@font-face {
    font-weight: 900;
    font-family: "ArgentumSans";
    font-style: normal;
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-Black.ttf") format("truetype"),
}

@font-face {
    font-weight: 800;
    font-family: "ArgentumSans";
    font-display: swap;
    font-style: normal;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-ExtraBold.ttf") format("truetype"),
}



@font-face {
    font-weight: 700;
    font-family: "ArgentumSans";
    font-style: normal;
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-Bold.ttf") format("truetype"),
}

@font-face {
    font-weight: 600;
    font-family: "ArgentumSans";
    font-style: normal;
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-SemiBold.ttf") format("truetype"),
}

@font-face {
    font-weight: 500;
    font-family: "ArgentumSans";
    font-style: normal;
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-Medium.ttf") format("truetype"),
}

@font-face {
    font-weight: 400;
    font-family: "ArgentumSans";
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-Regular.ttf") format("truetype"),
}

@font-face {
    font-weight: 300;
    font-family: "ArgentumSans";
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-Light.ttf") format("truetype"),
}

@font-face {
    font-weight: 200;
    font-family: "ArgentumSans";
    font-style: normal;
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-ExtraLight.ttf") format("truetype"),
}

@font-face {
    font-weight: 100;
    font-family: "ArgentumSans";
    font-style: normal;
    font-display: swap;
    src:
        url("/fonts/ArgentumSans/ArgentumSans-Thin.ttf") format("truetype"),
}