:root {
  --primary-color: #4563E6;
  --secondary-color: #FFBE12;
  --gray-color-900: #181818;
  --gray-color-700: #565656;
  --gray-color-600: #696969;
  --gray-color-400: #B1B1B1;
  --gray-color-200: #C4C4C4;
  --gray-color-100: #CFCFCF;
  --bg-color: #FFFFFF;

  --error-color: #ff3e59;
}
