// Breakpoints
$desktop: 1440px;
$tablet: 1024px;
$mobile: 480px;
$mobile-xs: 375px;

// Font
$font-family: "ArgentumSans", Helvetica, Arial, sans-serif;

$fs-12: calc(12 / 16 * 1rem);
$fs-16: calc(16 / 16 * 1rem);
$fs-28: calc(28 / 16 * 1rem);
$fs-24: calc(24 / 16 * 1rem);