@use "@/styles/settings/variables" as variables;

@mixin input-style {
  --input-padding: 0.75rem;
  --input-radius: 0.375rem;
  display: flex;
  position: relative;
  margin-top: variables.$fs-12;
  color: var(--gray-color-600);
  font-size: variables.$fs-12;
  padding: var(--input-padding);
  border: 1px solid var(--gray-color-400);
  border-radius: var(--input-radius);
  width: 100%;
  color: currentColor;

  &:focus-within {
    border-color: var(--primary-color);
    outline: none;
  }

  label {
    position: absolute;
    bottom: 100%;
    left: 0;
    pointer-events: none;
    color: var(--gray-color-600);
  }

  input {
    border: none;
    outline: none;
    background: transparent;
    height: 100%;
    width: 100%;
  }
}
